In [3]:
import numpy as np
import pandas as pd
from scipy import sparse, io
from collections import Counter

In [15]:
datasets = [ 'sce10x_qc', 'sce2_qc', 'sce8_qc']
name = datasets[0]

In [ ]:


df = pd.read_csv(f"{name}.csv", index_col=0).T
/print df.shape
sd = sparse.csr_matrix(df.values)
sparse.save_npz(f"{name}.npz", sd)
np.save(f"{name}_cells.npy", df.index.values)
np.save(f"{name}_genes.npy", df.columns)

truth = pd.read_csv(f'{name}_truth.csv', index_col = 0)

truth['truth'] = truth['x'].astype('category')

truth['clusters'] = truth['truth'].cat.codes
truth.drop('x', inplace=True, axis = 1)
truth.to_pickle(f'{name}_truth.pkl')

In [16]:
def loadDf(name):
    data = sparse.load_npz(f"{name}.npz")
    data = data.todense()
    df1 = pd.DataFrame(data = data)
    df1.set_index(np.load(f"{name}_cells.npy"), inplace=True)
    df1.columns = np.load(f"{name}_genes.npy")
    
    truth = pd.read_pickle(f'{name}_truth.pkl')
    return df1, truth

df, truth= loadDf(name)

In [19]:
truth['truth'] = df.index.values
truth.to_pickle(f'{name}_truth.pkl')

In [20]:
print(df.shape, truth.shape)
display(df.head())

display(truth.head())

(902, 16468) (902, 2)

,ENSG00000272758,ENSG00000154678,ENSG00000148737,ENSG00000196968,ENSG00000134297,ENSG00000122674,ENSG00000201413,ENSG00000111640,ENSG00000130340,ENSG00000224219,...,ENSG00000237854,ENSG00000240376,ENSG00000203288,ENSG00000234782,ENSG00000213070,ENSG00000237289,ENSG00000238098,ENSG00000133433,ENSG00000054219,ENSG00000137691
CELL_000001,0,0,0,0,0,11,0,2400,2,7,...,0,344,0,19,7,0,0,0,1,0
CELL_000002,0,0,0,0,0,21,0,2306,5,4,...,0,314,1,10,9,1,0,0,0,3
CELL_000003,0,0,0,0,0,20,0,2159,7,4,...,2,353,0,13,10,0,0,0,0,0
CELL_000004,2,1,1,1,1,15,1,1986,5,11,...,0,331,0,26,9,0,0,0,0,0
CELL_000005,0,0,3,2,1,8,0,3468,4,6,...,0,294,0,24,14,0,1,0,0,0

         truth  clusters
1  CELL_000001         2
2  CELL_000002         0
3  CELL_000003         2
4  CELL_000004         2
5  CELL_000005         2